/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Folder Fonts */

@font-face {
	font-family: "Didot-Bold";
	src: url(../resources/fonts/Didot-Bold.otf);
}
* {
	margin: 0;
	padding: 0;
}
/* Elementos líquidos */
img,
video {
	max-width: 100%;
}
body {
	background-color: rgb(251, 222, 184);
	font-family: Montserrat, sans-serif;
}

header {
	/* Añadimos tb el background-color por si no cargara la página*/
	background-color: rgb(85, 0, 4);
	background-image: linear-gradient(
		to bottom,
		rgb(85, 0, 4),
		rgb(30, 0, 1)
	);
	padding: 15px 10%;
}
main {
	width: 80%;
	margin: 50px auto;
	max-width: 1728px;
}
footer {
	/* Add the background-colour in case the page does not load. */
	background-color: rgb(85, 0, 4);
	background-image: linear-gradient(
		to top,
		rgb(85, 0, 4),
		rgb(30, 0, 1)
	);
	padding: 15px 10%;
}

.flex-direction-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fa-search,
.menu-font,
.white-text {
	color: #ffffff;
}
nav ul li a {
	list-style-type: none; /* Remove bullets from the list */
	text-decoration: none; /* Remove underlining */
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row; /* Place the elements in a row */
	justify-content: center; /* Centres the elements inside the container */
}

nav a:hover {
	color: #ffffff;
}
nav a.actual {
	color: rgb(238, 218, 162);
}
h1 {
	margin: 20px 0;
	font-family: "Didot negrita", serif;
}
p {
	margin: 20px 0;
	font-family: Didot-negrita;
}
